/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #001114; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-left: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

img {
    width: 130px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}


.buttonBanner {
    background-color: #333; 
    text-align: center; 
    white-space: nowrap;
}

.buttonBanner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.buttonBanner ul li {
    display: inline-block;
    width:15%;
    border-right: 2px solid #585858;
    padding: 15px;
}

.buttonBanner ul li a {
    margin-left: 0px;

    color: #9d9d9d;
    text-decoration: none;  
}


.buttonBanner ul li:hover {
    background-color: #808080;
    color: #ffffff;
}

.buttonBanner ul li a:hover {
    color: #ffffff;
}

.buttonBanner ul li:last-child {
    border-right: none; 
}