/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #001114; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 0;
    margin-left: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

header img {
    width: 130px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}


nav {
    background-color: #333; 
    text-align: center; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block; 
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}